{{! Slide }}

<br />
<div
  id="carouselExampleIndicators"
  class="carousel carousel-dark pt-1 pb-1 shadow p-3 mb-5 bg-body rounded"
  data-bs-ride="true"
  style="border: none;background-image: linear-gradient(#FFFAD7,#F7F6F2)"
>
  <div class="container-fluid">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="https://toiyeutra.vn/upload/img/banner/tra_hoa_cuc_chi_hung_yen.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://toiyeutra.vn/upload/img/banner/atiso_do.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://toiyeutra.vn/upload/img/banner/coc_pha_tra_thuy_tinh1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>

    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{{! NEWs }}

<div
  class="card mb-3 px-4 py-4 shadow p-3 mb-5 bg-body rounded"
  style="border:none;background-image: linear-gradient(#FFFAD7,#F7F6F2);"
>
  <div class="mb-3 d-flex justify-content-center">

    <p class="fw-normal fs-4 text-secondary">

      CÁCH PHA TRÀ ĐÚNG CÁCH?
    </p>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="/img/cachphatra.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">Trà dưỡng nhan Cita Herb là thức trà thảo mộc quen
          thuộc, thơm ngon và bổ dưỡng. Từ nhiều thế kỷ trước, con người đã sử
          dụng trà dưỡng nhan như một phương thuốc tự nhiên giúp giảm stress, bổ
          huyết dưỡng nhan, chống lão hóa, đẹp da. Hãy cùng Tôi yêu thảo mộc học
          ngay cách pha trà dưỡng nhan thơm ngon và đơn giản tại nhà nhé!
        </p>
        <a type="button" href="" class="btn btn-outline-secondary" >CÁCH PHA TRÀ THẢO
          MỘC</a>
      </div>
    </div>
  </div>
</div>

{{! trend }}

{{! Content }}

<div class="mt-4">
  <div
    class="row shadow p-3 mb-5 bg-body rounded"
    style="background-image: linear-gradient(#FFFAD7,#F7F6F2)"
  >
    <div class="mb-3 d-flex justify-content-center mt-3">

      <p class="fw-normal fs-4 text-secondary">

        XU HƯỚNG TUẦN NÀY
      </p>
    </div>
    {{#each herbalTeas}}

      <div class="col-sm-6 col-lg-3 card-herbalTeas" style="border: none;">
        <div
          class="card card-herbalTeas shadow-lg p-3 mb-5 bg-body rounded"
          style="border: none;"
        >
          <a
            href="/herbal-tea/{{this.slug}}"
            class="card-herbalTeas shadow-lg p-3 mb-5 bg-body rounded"
          >
            <img src="{{this.image}}" class="card-img-top" />
          </a>

          <div class="card-body">
            <a href="/herbal-tea/{{this.slug}}" class="herbalImg">
              <h5 class="card-title herbalImg">{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.price}}</p>
            <a href="#" class="btn btn-primary text-success">THÊM</a>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="d-flex justify-content-center mb-3">
      <button type="button" class="btn btn-outline-secondary" style="width:20%">XEM
        TẤT CẢ SẢN PHẨM</button>
    </div>
  </div>
</div>

{{! Tin tức }}

<div class="mt-4">

  <div
    class="row shadow-lg p-3 mb-5 bg-body rounded"
    style="background-image: linear-gradient(#F6F6C9,#F7F6F2)"
  >
    <div class="mb-3 d-flex justify-content-center mt-3">

      <p class="fw-normal fs-4 text-secondary">

        TIN TỨC
      </p>
    </div>
    {{#each herbalTeaNews}}
      <div class="col-sm-6 col-lg-3">
        <div class="card herbal-news shadow-lg p-3 mb-5 bg-body rounded">
          <img
            src="{{this.image}}"
            class="img img-fluid image-news"
            style="width:307px; height:200px;"
          />
          <div class="card-body card-body-content">
            <p class="card-title fw-bold">{{this.name}}</p>
            <p class="card-text fw-light">{{this.detail}}</p>

          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>