{{!-- Slide --}}

<div id="carouselExampleIndicators" class="carousel carousel-dark " data-bs-ride="true">
  <div class="container-fluid">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://toiyeutra.vn/upload/img/banner/tra_hoa_cuc_chi_hung_yen.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item " data-bs-interval="10000">
      <img src="https://toiyeutra.vn/upload/img/banner/atiso_do.jpg" class="d-block w-100 " alt="..." >
    </div>
    <div class="carousel-item " data-bs-interval="10000">
      <img src="https://toiyeutra.vn/upload/img/banner/coc_pha_tra_thuy_tinh1.jpg" class="d-block w-100 " alt="..." >
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
{{!-- Content --}}
<div class="mt-4">
  <div class="row">
    {{#each herbalTeas}}
    <div class="col-sm-6 col-lg-4">
      <div class="card card-herbalTeas">
        <a href="/herbal-tea/{{this.slug}}">
        <img src="{{this.image}}" class="card-img-top" alt="..." />
      </a>

        <div class="card-body">
          <a href="/herbal-tea/{{this.slug}}">
          <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.price}}</p>
          <a href="#" class="btn btn-primary">THÊM</a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>