<div class="mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Giá</th>
        <th scope="col">Hình ảnh sản phẩm</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {{#each herbalTeas}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.slug}}</td>
        <td>
            <a href="/herbal-tea/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a href="" class="btn btn-link">Xóa</a>
        </td>
      </tr>
        {{/each}}
    </tbody>
  </table>
</div>